body {
  text-align: center;
  background-color: pink;
  font-family: Arial, sans-serif;
  padding-bottom: 50px;
}

.container {
  margin-top: 100px;
}

.gif {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.gif1 {
  width: 200px;
  height: auto;
  border-radius: 10px;
  position: relative;
  top:300px;
  right:200px;
}
.gif3 {
  width: 200px;
  height: auto;
  border-radius: 10px;
  position: relative;
  left:100px;
}
.gif2 {
  width: 120px;
  height: 105px;
  border-radius: 10px;
  position: relative;
  top:190px;
  left:100px;
  
}
.question {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
  margin-inline: auto;
  max-width: 370px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#yes {
  background-color: green;
  color: white;
  border-radius: 10px;
}

#no {
  background-color: red;
  color: white;
  border-radius: 10px;
}

.message {
  font-size: 18px;
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}

#heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heart {
  position: absolute;
  font-size: 24px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}
